<main class="h-full flex flex-col">
  @if (rules$ | async; as rules) {
    <mat-toolbar class="rules-header">
      <button mat-icon-button class="mr-4" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1>Правила</h1>
    </mat-toolbar>

    <mat-drawer-container #drawerContainer class="flex-1" autosize>
      <mat-drawer #drawer [opened]="true" [mode]="(sidenavService.sidenavMode$ | async) || 'over'">
        <mat-nav-list class="rules-sidenav">
          @for (rule of rules$ | async; track rule) {
            <a
              mat-list-item
              [routerLink]="rule.paragraph"
              routerLinkActive="!underline"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="sidenavService.onClickLink(drawer)">
              {{ rule.paragraph }}. {{ rule.heading }}
            </a>
          }
        </mat-nav-list>
      </mat-drawer>

      <mat-drawer-content #drawerContent>
        <div class="rules-content h-full flex flex-col overflow-hidden">
          <div class="flex-1 overflow-auto pl-8 py-8">
            <router-outlet></router-outlet>
          </div>

          @if (currentParagraph$ | async; as currentParagraph) {
            <div class="paginator px-8 py-4">
              <app-paginator
                (prev)="goToParagraph(currentParagraph - 1)"
                (next)="goToParagraph(currentParagraph + 1)"></app-paginator>
            </div>
          }
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  } @else {
    <app-loader></app-loader>
  }
</main>
