<main class="app container mx-auto h-full overflow-hidden flex flex-col">
  <mat-toolbar class="app-header" color="primary">
    <mat-toolbar-row>
      <a [routerLink]="['/']">
        <h1 class="!text-4xl !font-bold">Тройка!</h1>
      </a>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <nav class="app-nav-menu flex flex-row overflow-auto gap-8">
        @for (link of links; track link) {
          <a mat-list-item [routerLink]="link.url" routerLinkActive="active">{{ link.title }}</a>
        }
      </nav>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="app-content relative flex-1 overflow-hidden">
    <router-outlet></router-outlet>
  </div>

  <mat-toolbar color="primary" class="app-footer">
    <div>troika-rpg.web.app © {{ currentYear }}</div>
    <div>troika-rpg.web.app является независимым продуктом и не является аффилированным с Melsonian Arts Council.</div>
  </mat-toolbar>
</main>
