@import '../assets/styles/variables.scss';

.app {
  background-color: white;
  box-shadow: 0 0 20px 10px #000000cc;
}

.app-header {
  .app-nav-menu {
    .active {
      text-decoration: underline;
      pointer-events: none;
    }
  }
}

.app-footer {
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: 10px;
  white-space: normal;
  text-align: center;
}
