@use '@angular/material' as mat;
@use 'styles/themes/theme.scss' as themes;

@include mat.core();

.light-theme {
  @include mat.all-component-themes(themes.$light-theme);

  color: #000000;
  background-color: #ffffff;
}

.dark-theme {
  @include mat.all-component-themes(themes.$dark-theme);

  background-color: #333333;
  color: #ffffff;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
