@use '@angular/material' as mat;
@use 'styles/themes/theme.scss' as themes;
@use './app/app.component.scss' as app;

@include mat.core();

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @include mat.all-component-themes(themes.$light-theme);
  @include app.theme(themes.$light-theme);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-image: url('./assets/images/troika.webp');
  background-size: cover;
  background-position: center center;
}

.dark-theme {
  color: #ffffff;
  @include mat.all-component-colors(themes.$dark-theme);
  @include app.theme(themes.$dark-theme);
}
